.form {
  max-width: 60rem;
  margin:  auto;
}
.form .Title{
  margin-left: 9rem;
  margin-top: 2rem;
}
.form .Title > h1{
  font-size: 3rem;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.form .Btn{
  margin-left: 4rem;
  margin-bottom: 1.5rem;
}
.form div:last-child{
  margin-left: 1rem;
}
.form label {
  display: block;
}
